<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Tas5in</title>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="login-container" data-aos="zoom-out-down">

        <form th:action="@{/User/updateArticleIntoDB/{articleId}(articleId=${Article.articleId})}" th:object="${Article}" class="my-form" method="POST">
            <h1>Update Article</h1>
            <div class="input-group">
                <input type="text" placeholder="Article name" id="name" name="name" th:field="*{name}">
            </div>

            <div class="input-group">
                <input type="text" placeholder="Description" id="description" name="description"th:field="*{description}" >
            </div>
            <div class="input-group">
                <input type="text" placeholder="Model Number" id="modelNumber" name="modelNumber" th:field="*{modelNumber}">
            </div>
            <div class="input-group">
                <input type="text" placeholder="Page Number" id="pageNumber" name="pageNumber" th:field="*{pageNumber}">
            </div>
            <div class="input-group">
                <label for="">Choose a Category:</label>
                <select th:field="*{articleCategory}">
                    <option th:each="category:${categories}" th:value="${category.categoryId}"  th:text="${category.categoryName}">category name</option>
                </select>
            </div>

            <input class="login-button" value="Save" type="submit">

        </form>

    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
</body>
</html>>